.col-4{
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1100px!important;
    margin: 50px auto;
}
body{
    font-family: "Open Sans",sans-serif!important;
    font-size: 18px!important;
    line-height: 1.667em!important;
    font-weight: 400!important;
    color: #383838!important;
    background-color: #f7f3f0!important;
    overflow-x: hidden!important;
}
h1,h2,h3,h4,h5{
    font-weight: 700!important;
    font-family: "Open Sans Condensed",sans-serif!important;
    text-transform: uppercase!;
}
h1{
    color: #fff;
    font-size: 60px;
}
h3,h4,h5{
    color: #131313;
    line-height: 1.25em;
}
h3{
    font-size: 26px;
    margin: 12px 0;
}
h4{
    font-size: 26px;
    margin: auto 0;
}
h5{
    font-size: 18px;
    line-height: 1.25em;
    margin: auto 0;
}
a{
    text-decoration: none!important;
    color: unset!important;
    transition: all .3s ease;
}
a:hover span , .menu-mobile a:hover ,.onPage ,.sub-menu li:hover > a ,.menu-bar:hover .md.hydrated {
    color: #c74817!important;
    transition: all .3s ease;
}
/* .row{
    height: 100%;
}
.col-child{
    background-color: blanchedalmond;
    height: 30%;
}
.col-child2{
    background-color: hotpink;
    height: 70%;
}
.col-child3{background-color: indianred;height: 40%;}
.col-child4{height: 60%; background-color: lawngreen;} */
.box-margin{
    padding: 0 10px;
    margin-bottom: 20px ;}
.box{background-color: #fff;}
.box-img{width: 100%;overflow: hidden;cursor: pointer;margin-bottom: 28px;}
.box-img img{width: 100%;transition: all .5s ease;}
.box-img:hover img{transform: scale(1.02);}
.box-content{
    padding: 13px 50px 49px 38px;
}
.box-link{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 69px 38px 69px 45px;
    background-color: #c74817;
}
.link-rlt{position: relative;}
.box-link-icon {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 32px;
    height: 1em;
    font-size: 44px;
    line-height: 1em;
    font-weight: 300;
    color: #fff;
}
.box-link > .box-time{ margin: 7px 0;}
.box-link > .box-time , .box-link > .box-header > h4{color: #fff;}
.box-time > a:hover{color: unset;}
.box-header > h4 > a:hover{color: #c74817!important;}
.box-time{
    color: #c74817;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 25px;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 700;
}
.box-text{
    margin-top: 17px;
    font-size: 15px;
    line-height: 24px;
    color: #5b5858;
}